{% load static i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Учетная запись подтверждена" %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="card shadow p-3 mb-5 bg-white rounded" style="max-width: 500px;">
            <div class="card-body text-center">
                <h3 class="card-title">{% trans "Поздравляем" %}</h3>
                <p class="card-text">{% trans "Ваша учетная запись успешно подтверждена!" %}</p>
                <a href="{% url 'users:login' %}" class="btn btn-primary">{% trans "Продолжить" %}</a>
            </div>
        </div>
    </div>
</body>
</html>